<!DOCTYPE html>
<html>
<head>
    <title>Extrair Débitos de PDF</title>
</head>
<body>
    <h1>Extrair Débitos de PDF</h1>
    <form action="/" method="POST" enctype="multipart/form-data">
        <label for="arquivo_pdf">Selecione o arquivo PDF:</label>
        <input type="file" id="arquivo_pdf" name="arquivo_pdf"><br><br>
        <label for="nomes_debitos">Selecione o arquivo com os nomes dos débitos:</label>
        <input type="file" id="nomes_debitos" name="nomes_debitos"><br><br>
        <input type="submit" value="Extrair Débitos">
    </form>
</body>
</html>